body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-size: 12px;
}

li {
  font-size: 12px;
}

input {
  width: 100%;
  border: none;
  text-align: center;
}

th.moduli, td.moduli {
  font-size: 12px;
}

.table>:not(caption)>*>* {
  padding: .1em!important;
}

.form-control {
  padding: 0!important;
  border: 1px solid transparent;
}

.form-control.parteserver {
  border: 1px solid transparent;
}

textarea.form-control {
  min-height: 0!important;
}